<input id="visor"  value="">

<br>
<botao conteudo = "1"></botao>
<botao conteudo = "2"></botao>
<botao conteudo = "3"></botao>
<br>
<botao conteudo = "4"></botao>
<botao conteudo = "5"></botao>
<botao conteudo = "6"></botao>
<br>
<botao conteudo = "7"></botao>
<botao conteudo = "8"></botao>
<botao conteudo = "9"></botao>
<botao conteudo = "0"></botao>
<br>
<botao conteudo = "*"></botao>
<botao conteudo = "+"></botao>
<botao conteudo = "-"></botao>
<botao conteudo = "/"></botao>
<botao conteudo = "="></botao>
<botao conteudo = "del"></botao>




